# ARQUIVOS DA RAIZ (cco_ia)
rasa_env/
models/
.rasa/
*.zip
vosk-model-small-pt-0.3/
fala.wav
build/
install/
log/

# ARQUIVOS DO SIRVSIMULATOR
SirvSimulator/.vscode
SirvSimulator/build
SirvSimulator/install
SirvSimulator/log
SirvSimulator/bag

SirvSimulator/sirv_ros_pkgs_20220310.zip
SirvSimulator/sirv_ros_pkgs_STDLIBc++_20220311.zip

SirvSimulator/sirv_ros_pkgs/sirv_dev/3rd/boost-1.72.0-install
SirvSimulator/sirv_ros_pkgs/sirv_dev/3rd/boost_1_72_0.tar.gz

SirvSimulator/Unreal/SirvUE4/Content
SirvSimulator/Unreal/SirvUE4/DerivedDataCache
SirvSimulator/Unreal/SirvUE4/Intermediate
SirvSimulator/Unreal/SirvUE4/Saved
SirvSimulator/Unreal/SirvUE4/Script
SirvSimulator/Unreal/SirvUE4/Plugins/Sirv/Intermediate
SirvSimulator/Unreal/SirvUE4/Plugins/Sirv/SirvDependencies
SirvSimulator/Unreal/SirvUE4/Plugins/Sirv/Binaries

SirvSimulator/Unreal/SirvUE4/Makefile

SirvSimulator/Unreal/SirvUE4/SirvUE4CodeCompletionFolders.txt
SirvSimulator/Unreal/SirvUE4/SirvUE4CodeLitePreProcessor.txt
SirvSimulator/Unreal/SirvUE4/SirvUE4.code-workspace

# Visual Studio 2015 user specific files
SirvSimulator/.vs/

SirvSimulator/**/*.kdev4
SirvSimulator/**/*.workspace
SirvSimulator/**/*.pri
SirvSimulator/**/*.pro

# Compiled Object files
SirvSimulator/**/*.slo
SirvSimulator/**/*.lo
SirvSimulator/**/*.o
SirvSimulator/**/*.obj

# Precompiled Headers
SirvSimulator/**/*.gch
SirvSimulator/**/*.pch

# Compiled Dynamic libraries
SirvSimulator/**/*.so
SirvSimulator/**/*.dylib
SirvSimulator/**/*.dll

# Fortran module files
SirvSimulator/**/*.mod

# Compiled Static libraries
SirvSimulator/**/*.lai
SirvSimulator/**/*.la
SirvSimulator/**/*.a
SirvSimulator/**/*.lib

# Executables
SirvSimulator/**/*.exe
SirvSimulator/**/*.out
SirvSimulator/**/*.app
SirvSimulator/**/*.ipa

# These project files can be generated by the engine
SirvSimulator/**/*.xcodeproj
SirvSimulator/**/*.xcworkspace
SirvSimulator/**/*.sln
SirvSimulator/**/*.suo
SirvSimulator/**/*.opensdf
SirvSimulator/**/*.sdf
SirvSimulator/**/*.VC.db
SirvSimulator/**/*.VC.opendb

# Precompiled Assets
SirvSimulator/SourceArt/**/*.png
SirvSimulator/SourceArt/**/*.tga

# Binary Files
SirvSimulator/Unreal/SirvUE4/Binaries/*
SirvSimulator/Unreal/SirvUE4/Plugins/*/Binaries/*

# Builds
SirvSimulator/Unreal/SirvUE4/Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!SirvSimulator/Unreal/SirvUE4/Build/*/
SirvSimulator/Unreal/SirvUE4/Build/*/**
!SirvSimulator/Unreal/SirvUE4/Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!SirvSimulator/Unreal/SirvUE4/Build/**/*.ico

# Built data for maps
SirvSimulator/**/*_BuiltData.uasset

# Configuration files generated by the Editor
SirvSimulator/Unreal/SirvUE4/Saved/*

# Compiled source files for the engine to use
SirvSimulator/Unreal/SirvUE4/Intermediate/*
SirvSimulator/Unreal/SirvUE4/Plugins/*/Intermediate/*

# Cache files for the editor to use
SirvSimulator/Unreal/SirvUE4/DerivedDataCache/*

# Specific C++ source/header files
SirvSimulator/sirv_ros_pkgs/sirv_cat793fsim/cat793fsim_error/include/cat793fsim_errors/excessive_throttle_while_raising_body.hpp
SirvSimulator/sirv_ros_pkgs/sirv_cat793fsim/cat793fsim_error/src/excessive_throttle_while_raising_body.cpp